<a href="https://colab.research.google.com/github/konkasivaji/690-stats-and-visulaization/blob/main/assignment_02/Data_690_session02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data 690 Session 02 

*   Data: 09/08/2022
*   Name: Sivaji

In [74]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

In [75]:
print("Birth years of the student", years)

Birth years of the student 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [76]:
type(years)

str

In [77]:
years_list = years.split(" ")
print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [78]:
x= ["jay", "james", "jayson", "libian"]
type(x)

list

In [79]:
y=[2.4, 56,-6,7.5]
type(y)

list

In [80]:
 total = 0
 for number in y:
    total = total + number
 print("sum of y =", total)
 print("the size of the list is ", len(y))
 print("the average of the y is  ", total/len(y))

sum of y = 59.9
the size of the list is  4
the average of the y is   14.975

In [81]:
years_list[0]

'1/11/1997'

In [82]:
years_list[2]

'2000'

In [83]:
abadon = years_list.pop(0)
years_list

['1991',
 '2000',
 '1969',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995',
 '1999',
 '1999',
 '1997',
 '1996',
 '1996',
 '1997',
 '1995',
 '1997',
 '1999',
 '2000']

In [84]:
from datetime import date

current_year = date.today().year
print(current_year)

total = 0
for birth_year in years_list:
    age = current_year - int(birth_year)
    total = total + age
print("total age is", total)

2022
total age is 578

In [85]:
average_age = total / len(years_list)

print("average age =" , average_age)

average age = 26.272727272727273